<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{! HEADER }}
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
    />
    <div class="header-fields">
      <h1 class="charname"><input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="Nome do Personagem"
        /></h1>
      <div class="resources grid grid-4col">
        <div class="resource flex-group-center"><label
            class="resource-label"
          >PV</label><div
            class="resource-content flexrow flex-center flex-between"
          ><input
              type="text"
              name="system.resources.pv.value"
              value="{{system.resources.pv.value}}"
              data-dtype="Number"
            /><span>/</span><input
              type="text"
              name="system.resources.pv.max"
              value="{{system.resources.pv.max}}"
              data-dtype="Number"
            /></div></div>
        <div class="resource flex-group-center"><label
            class="resource-label"
          >PH</label><div
            class="resource-content flexrow flex-center flex-between"
          ><input
              type="text"
              name="system.resources.ph.value"
              value="{{system.resources.ph.value}}"
              data-dtype="Number"
            /><span>/</span><input
              type="text"
              name="system.resources.ph.max"
              value="{{system.resources.ph.max}}"
              data-dtype="Number"
            /></div></div>
        <div class="resource flex-group-center"><label
            class="resource-label"
          >Magia</label><div
            class="resource-content flexrow flex-center flex-between"
          ><input
              type="text"
              name="system.resources.magia.value"
              value="{{system.resources.magia.value}}"
              data-dtype="Number"
            /><span>/</span><input
              type="text"
              name="system.resources.magia.max"
              value="{{system.resources.magia.max}}"
              data-dtype="Number"
            /></div></div>
        <div class="resource flex-group-center"><label
            class="resource-label"
          >Focus</label><div
            class="resource-content flexrow flex-center flex-between"
          ><input
              type="text"
              name="system.resources.focus.value"
              value="{{system.resources.focus.value}}"
              data-dtype="Number"
            /><span>/</span><input
              type="text"
              name="system.resources.focus.max"
              value="{{system.resources.focus.max}}"
              data-dtype="Number"
            /></div></div>
      </div>
    </div>
  </header>

  {{! TABS }}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="principal">Principal</a>
    <a class="item" data-tab="pericias">Perícias</a>
    <a class="item" data-tab="combate">Combate</a>
    <a class="item" data-tab="magia">Magia</a>
    <a class="item" data-tab="aprimoramentos">Aprimoramentos</a>
    <a class="item" data-tab="equipamentos">Equipamentos</a>
    <a class="item" data-tab="descricao">Descrição</a>
  </nav>

  {{! BODY }}
  <section class="sheet-body">
    {{! Aba Principal }}
    <div class="tab" data-group="primary" data-tab="principal">
      {{! NOVO BLOCO PARA EXIBIR O KIT ATIVO }}
      {{#if system.activeKit}}
        <div class="active-kit flex-group-center">
          <label>Kit de Personagem Ativo</label>
          <div class="kit-info">
            <span>{{system.activeKit.name}}</span>
            <a class="kit-remove" title="Remover Kit e seus itens"><i
                class="fas fa-trash"
              ></i></a>
          </div>
        </div>
        <hr />
      {{/if}}

      <hr />
      <div class="attributes-header flexrow">
        <div class="attribute-label">Atributo</div>
        <div class="attribute-values-header"><span>Original</span><span
          >Mod.</span></div>
        <div class="attribute-test">Teste</div>
        <div class="attribute-roll">Rolar</div>
      </div>
      <div class="attributes grid grid-1col">
        <div class="attribute flexrow flex-group-center"><label
            class="attribute-label"
          >Força</label><div class="attribute-values"><input
              type="text"
              name="system.attributes.fr.value"
              value="{{system.attributes.fr.value}}"
              data-dtype="Number"
              title="Valor Original"
            /><span
              class="attribute-mod"
              title="Valor Modificado"
            >{{system.attributes.fr.mod}}</span></div><span
            class="attribute-test"
          >{{system.attributes.fr.test}}%</span><a
            class="roll-attribute"
            title="Rolar Força"
            data-label="Força"
            data-test-value="{{system.attributes.fr.test}}"
          ><i class="fas fa-dice-d20"></i></a></div>
        <div class="attribute flexrow flex-group-center"><label
            class="attribute-label"
          >Constituição</label><div class="attribute-values"><input
              type="text"
              name="system.attributes.con.value"
              value="{{system.attributes.con.value}}"
              data-dtype="Number"
              title="Valor Original"
            /><span
              class="attribute-mod"
              title="Valor Modificado"
            >{{system.attributes.con.mod}}</span></div><span
            class="attribute-test"
          >{{system.attributes.con.test}}%</span><a
            class="roll-attribute"
            title="Rolar Constituição"
            data-label="Constituição"
            data-test-value="{{system.attributes.con.test}}"
          ><i class="fas fa-dice-d20"></i></a></div>
        <div class="attribute flexrow flex-group-center"><label
            class="attribute-label"
          >Destreza</label><div class="attribute-values"><input
              type="text"
              name="system.attributes.dex.value"
              value="{{system.attributes.dex.value}}"
              data-dtype="Number"
              title="Valor Original"
            /><span
              class="attribute-mod"
              title="Valor Modificado"
            >{{system.attributes.dex.mod}}</span></div><span
            class="attribute-test"
          >{{system.attributes.dex.test}}%</span><a
            class="roll-attribute"
            title="Rolar Destreza"
            data-label="Destreza"
            data-test-value="{{system.attributes.dex.test}}"
          ><i class="fas fa-dice-d20"></i></a></div>
        <div class="attribute flexrow flex-group-center"><label
            class="attribute-label"
          >Agilidade</label><div class="attribute-values"><input
              type="text"
              name="system.attributes.agi.value"
              value="{{system.attributes.agi.value}}"
              data-dtype="Number"
              title="Valor Original"
            /><span
              class="attribute-mod"
              title="Valor Modificado"
            >{{system.attributes.agi.mod}}</span></div><span
            class="attribute-test"
          >{{system.attributes.agi.test}}%</span><a
            class="roll-attribute"
            title="Rolar Agilidade"
            data-label="Agilidade"
            data-test-value="{{system.attributes.agi.test}}"
          ><i class="fas fa-dice-d20"></i></a></div>
        <div class="attribute flexrow flex-group-center"><label
            class="attribute-label"
          >Inteligência</label><div class="attribute-values"><input
              type="text"
              name="system.attributes.int.value"
              value="{{system.attributes.int.value}}"
              data-dtype="Number"
              title="Valor Original"
            /><span
              class="attribute-mod"
              title="Valor Modificado"
            >{{system.attributes.int.mod}}</span></div><span
            class="attribute-test"
          >{{system.attributes.int.test}}%</span><a
            class="roll-attribute"
            title="Rolar Inteligência"
            data-label="Inteligência"
            data-test-value="{{system.attributes.int.test}}"
          ><i class="fas fa-dice-d20"></i></a></div>
        <div class="attribute flexrow flex-group-center"><label
            class="attribute-label"
          >F. de Vontade</label><div class="attribute-values"><input
              type="text"
              name="system.attributes.will.value"
              value="{{system.attributes.will.value}}"
              data-dtype="Number"
              title="Valor Original"
            /><span
              class="attribute-mod"
              title="Valor Modificado"
            >{{system.attributes.will.mod}}</span></div><span
            class="attribute-test"
          >{{system.attributes.will.test}}%</span><a
            class="roll-attribute"
            title="Rolar Força de Vontade"
            data-label="Força de Vontade"
            data-test-value="{{system.attributes.will.test}}"
          ><i class="fas fa-dice-d20"></i></a></div>
        <div class="attribute flexrow flex-group-center"><label
            class="attribute-label"
          >Percepção</label><div class="attribute-values"><input
              type="text"
              name="system.attributes.per.value"
              value="{{system.attributes.per.value}}"
              data-dtype="Number"
              title="Valor Original"
            /><span
              class="attribute-mod"
              title="Valor Modificado"
            >{{system.attributes.per.mod}}</span></div><span
            class="attribute-test"
          >{{system.attributes.per.test}}%</span><a
            class="roll-attribute"
            title="Rolar Percepção"
            data-label="Percepção"
            data-test-value="{{system.attributes.per.test}}"
          ><i class="fas fa-dice-d20"></i></a></div>
        <div class="attribute flexrow flex-group-center"><label
            class="attribute-label"
          >Carisma</label><div class="attribute-values"><input
              type="text"
              name="system.attributes.car.value"
              value="{{system.attributes.car.value}}"
              data-dtype="Number"
              title="Valor Original"
            /><span
              class="attribute-mod"
              title="Valor Modificado"
            >{{system.attributes.car.mod}}</span></div><span
            class="attribute-test"
          >{{system.attributes.car.test}}%</span><a
            class="roll-attribute"
            title="Rolar Carisma"
            data-label="Carisma"
            data-test-value="{{system.attributes.car.test}}"
          ><i class="fas fa-dice-d20"></i></a></div>
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="pericias">

      <div class="character-details flex-group-center">
        <div class="form-group">
          <label>Idade</label>
          <input
            type="number"
            name="system.details.age.value"
            value="{{system.details.age.value}}"
          />
        </div>
        <div class="form-group">
          <label>Pontos de Perícia (Gastos/Total)</label>
          <div class="skill-points-display">
            <span>{{system.details.skillpoints.spent}}
              /
              {{system.details.skillpoints.total}}</span>
            <a
              class="calculate-skill-points"
              title="Calcular Total (10*Idade + 5*INT)"
            ><i class="fas fa-calculator"></i></a>
          </div>
        </div>
      </div>
      <ol class="items-list">
        <li class="item flexrow items-header">
          <div class="item-name flex-2">Nome</div>
          <div class="item-data">Total</div>
          <div class="item-controls">
            <a
              class="item-control item-create"
              title="Adicionar Perícia"
              data-type="pericia"
            ><i class="fas fa-plus"></i> Adicionar</a>
          </div>
        </li>
        {{#each system.pericias as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div
              class="item-name flex-2 rollable"
              title="Rolar {{item.name}}"
            ><img src="{{item.img}}" width="24" height="24" /><h4
              >{{item.name}}</h4></div>
            <div class="item-data">{{item.system.total}}%</div>
            <div class="item-controls"><a
                class="item-control item-edit"
                title="Editar Perícia"
              ><i class="fas fa-edit"></i></a><a
                class="item-control item-delete"
                title="Deletar Perícia"
              ><i class="fas fa-trash"></i></a></div>
          </li>
        {{/each}}
      </ol>
    </div>

    <div class="tab" data-group="primary" data-tab="combate">
      <div class="combat-summary flex-group-center">
        <h4>Sumário de Combate</h4>
        <div class="stat"><label>Índice de Proteção (IP) Total:</label><span
            class="stat-value"
          >{{system.combat.ip}}</span></div>
      </div>
      <hr />
      <ol class="items-list">
        <li class="item flexrow items-header">
          <div class="item-name flex-2">Perícia de Combate</div>
          <div class="item-name flex-2">Arma Vinculada</div>
          <div class="item-data">Ataque</div>
          <div class="item-data">Defesa</div>
          <div class="item-controls">
            <a
              class="item-control item-create"
              title="Adicionar Perícia de Combate"
              data-type="pericia-combate"
            ><i class="fas fa-plus"></i> Adicionar</a>
          </div>
        </li>
        {{#each system.periciasCombate as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flex-2">{{item.name}}</div>
            <div class="item-name flex-2">{{item.system.armaVinculada}}</div>
            <div class="item-data">{{item.system.total_atk}}%</div>
            <div class="item-data">{{item.system.total_def}}%</div>
            <div class="item-controls">
              <a
                class="item-control item-attack"
                title="Atacar com {{item.name}}"
              ><i class="fas fa-fist-raised"></i></a>
              <a class="item-control item-edit" title="Editar Perícia"><i
                  class="fas fa-edit"
                ></i></a>
              <a class="item-control item-delete" title="Deletar Perícia"><i
                  class="fas fa-trash"
                ></i></a>
            </div>
          </li>
        {{/each}}
      </ol>
      <ol class="items-list">
        <li class="item flexrow items-header">
          <div class="item-name flex-2">Armadura</div>
          <div class="item-data">IP</div>
          <div class="item-controls">
            <a
              class="item-control item-create"
              title="Adicionar Armadura"
              data-type="armadura"
            ><i class="fas fa-plus"></i> Adicionar</a>
          </div>
        </li>
        {{#each system.armaduras as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flex-2">{{item.name}}</div>
            <div class="item-data">{{item.system.ip.cinetico}}</div>
            <div class="item-controls">
              <input
                type="checkbox"
                name="items.{{item._id}}.system.equipped"
                {{checked item.system.equipped}}
                title="Equipar"
              />
              <a class="item-control item-edit" title="Editar Armadura"><i
                  class="fas fa-edit"
                ></i></a>
              <a class="item-control item-delete" title="Deletar Armadura"><i
                  class="fas fa-trash"
                ></i></a>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>

    <div class="tab" data-group="primary" data-tab="magia">
      <div class="magic-summary flex-group-center">
        <div class="resource">
          <label>Pontos de Magia</label>
          <span>{{system.resources.magia.value}}
            /
            {{system.resources.magia.max}}</span>
        </div>
        <div class="resource">
          <label>Pontos de Focus</label>
          <span>{{system.resources.focus.value}}
            /
            {{system.resources.focus.max}}</span>
        </div>
      </div>
      <hr />

      <div class="grid grid-3col">
        <div class="forms">
          <h4>Formas</h4>
          <div class="form-group">
            <label>Criar</label>
            <input
              type="number"
              name="system.magia.formas.criar.value"
              value="{{system.magia.formas.criar.value}}"
            />
          </div>
          <div class="form-group">
            <label>Entender</label>
            <input
              type="number"
              name="system.magia.formas.entender.value"
              value="{{system.magia.formas.entender.value}}"
            />
          </div>
          <div class="form-group">
            <label>Controlar</label>
            <input
              type="number"
              name="system.magia.formas.controlar.value"
              value="{{system.magia.formas.controlar.value}}"
            />
          </div>
        </div>

        <div class="paths grid-span-2">
          <h4>Caminhos</h4>
          <div class="grid grid-3col">
            <div class="form-group"><label>Água</label><input
                type="number"
                name="system.magia.caminhos.agua.value"
                value="{{system.magia.caminhos.agua.value}}"
              /></div>
            <div class="form-group"><label>Ar</label><input
                type="number"
                name="system.magia.caminhos.ar.value"
                value="{{system.magia.caminhos.ar.value}}"
              /></div>
            <div class="form-group"><label>Fogo</label><input
                type="number"
                name="system.magia.caminhos.fogo.value"
                value="{{system.magia.caminhos.fogo.value}}"
              /></div>
            <div class="form-group"><label>Luz</label><input
                type="number"
                name="system.magia.caminhos.luz.value"
                value="{{system.magia.caminhos.luz.value}}"
              /></div>
            <div class="form-group"><label>Terra</label><input
                type="number"
                name="system.magia.caminhos.terra.value"
                value="{{system.magia.caminhos.terra.value}}"
              /></div>
            <div class="form-group"><label>Trevas</label><input
                type="number"
                name="system.magia.caminhos.trevas.value"
                value="{{system.magia.caminhos.trevas.value}}"
              /></div>
            <div class="form-group"><label>Animais</label><input
                type="number"
                name="system.magia.caminhos.animais.value"
                value="{{system.magia.caminhos.animais.value}}"
              /></div>
            <div class="form-group"><label>Humanos</label><input
                type="number"
                name="system.magia.caminhos.humanos.value"
                value="{{system.magia.caminhos.humanos.value}}"
              /></div>
            <div class="form-group"><label>Plantas</label><input
                type="number"
                name="system.magia.caminhos.plantas.value"
                value="{{system.magia.caminhos.plantas.value}}"
              /></div>
            <div class="form-group"><label>Arkanun</label><input
                type="number"
                name="system.magia.caminhos.arkanun.value"
                value="{{system.magia.caminhos.arkanun.value}}"
              /></div>
            <div class="form-group"><label>Spiritum</label><input
                type="number"
                name="system.magia.caminhos.spiritum.value"
                value="{{system.magia.caminhos.spiritum.value}}"
              /></div>
            <div class="form-group"><label>Metamagia</label><input
                type="number"
                name="system.magia.caminhos.metamagia.value"
                value="{{system.magia.caminhos.metamagia.value}}"
              /></div>
          </div>
        </div>
      </div>
      <hr />

      <ol class="items-list">
        <li class="item flexrow items-header">
          <div class="item-name flex-2">Rituais Aprendidos</div>
          <div class="item-data">Custo PM</div>
          <div class="item-data">Focus</div>
          <div class="item-controls">
            <a
              class="item-control item-create"
              title="Adicionar Ritual"
              data-type="ritual"
            ><i class="fas fa-plus"></i> Adicionar</a>
          </div>
        </li>
        {{#each system.rituais as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flex-2 rollable" title="Ver Descrição">
              <img src="{{item.img}}" width="24" height="24" />
              <h4>{{item.name}}</h4>
            </div>
            <div class="item-data">{{item.system.pm_cost}}</div>
            <div class="item-data">{{item.system.focus}}</div>
            <div class="item-controls">
              <a class="item-control item-edit" title="Editar Ritual"><i
                  class="fas fa-edit"
                ></i></a>
              <a class="item-control item-delete" title="Deletar Ritual"><i
                  class="fas fa-trash"
                ></i></a>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>

    <div class="tab" data-group="primary" data-tab="aprimoramentos">
      <div class="aprimoramentos-summary flex-group-center">
        <h4>Balanço de Pontos</h4>
        <div class="stat">
          <label>Pontos Iniciais:</label>
          <span class="stat-value">5</span>
        </div>
        <div class="stat">
          <label>Pontos de Desvantagens:</label>
          <span class="stat-value">+
            {{system.details.aprimoramentos.negativos}}</span>
        </div>
        <div class="stat">
          <label>Custo de Vantagens:</label>
          <span class="stat-value">-
            {{system.details.aprimoramentos.positivos}}</span>
        </div>
        <hr />
        <div class="stat total">
          <label>Total Disponível:</label>
          <span
            class="stat-value"
          >{{system.details.aprimoramentos.disponivel}}</span>
        </div>
      </div>

      <div class="cyberware-summary flex-group-center">
        <h4>Calculadora de Cyberware</h4>
        <div class="stat">
          <label>Pontos de Cyberware (Gastos / Total)</label>
          <span>{{system.details.cyberware.spent}}
            /
            {{system.details.cyberware.total}}</span>
        </div>
      </div>
      <hr />

      {{! Lista de Vantagens }}
      <ol class="items-list">
        <li class="item flexrow items-header">
          <div class="item-name flex-2">Vantagens</div>
          <div class="item-data">Custo</div>
          <div class="item-controls">
            <a
              class="item-control item-create"
              title="Adicionar Aprimoramento"
              data-type="aprimoramento"
            ><i class="fas fa-plus"></i> Adicionar</a>
          </div>
        </li>
        {{#each system.vantagens as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flex-2">{{item.name}}</div>
            <div class="item-data">{{item.system.cost}}</div>
            <div class="item-controls">
              <a class="item-control item-edit" title="Editar Aprimoramento"><i
                  class="fas fa-edit"
                ></i></a>
              <a
                class="item-control item-delete"
                title="Deletar Aprimoramento"
              ><i class="fas fa-trash"></i></a>
            </div>
          </li>
        {{/each}}
      </ol>

      {{! Lista de Desvantagens }}
      <ol class="items-list">
        <li class="item flexrow items-header">
          <div class="item-name flex-2">Desvantagens</div>
          <div class="item-data">Custo</div>
          <div class="item-controls">
          </div>
        </li>
        {{#each system.desvantagens as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flex-2">{{item.name}}</div>
            <div class="item-data">{{item.system.cost}}</div>
            <div class="item-controls">
              <a class="item-control item-edit" title="Editar Aprimoramento"><i
                  class="fas fa-edit"
                ></i></a>
              <a
                class="item-control item-delete"
                title="Deletar Aprimoramento"
              ><i class="fas fa-trash"></i></a>
            </div>
          </li>
        {{/each}}
      </ol>
      
      {{! Lista de Cyberware }}
      <ol class="items-list">
        <li class="item flexrow items-header">
          <div class="item-name flex-2">Implante de Cyberware</div>
          <div class="item-data">Custo</div>
          <div class="item-controls">
            <a
              class="item-control item-create"
              title="Adicionar Cyberware"
              data-type="cyberware"
            ><i class="fas fa-plus"></i> Adicionar</a>
          </div>
        </li>
        {{#each system.cyberwares as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flex-2">{{item.name}}</div>
            <div class="item-data">{{item.system.cost}}</div>
            <div class="item-controls">
              <a class="item-control item-edit" title="Editar Cyberware"><i
                  class="fas fa-edit"
                ></i></a>
              <a class="item-control item-delete" title="Deletar Cyberware"><i
                  class="fas fa-trash"
                ></i></a>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>

    <div class="tab equipamentos" data-group="primary" data-tab="equipamentos">
      <nav class="sheet-tabs tabs" data-group="secondary">
        <a class="item" data-tab="armas">Armas</a>
        <a class="item" data-tab="armaduras">Armaduras & Escudos</a>
        <a class="item" data-tab="outros">Outros</a>
      </nav>
      <section class="equipamentos-body">
        <div class="tab" data-group="secondary" data-tab="armas">
          <ol class="items-list">
            <li class="item flexrow items-header"><div
                class="item-name flex-2"
              >Arma</div><div class="item-data">Dano</div><div
                class="item-controls"
              ><a
                  class="item-control item-create"
                  title="Adicionar Arma"
                  data-type="arma"
                ><i class="fas fa-plus"></i> Adicionar</a></div></li>
            {{#each system.armas as |item id|}}
              <li class="item flexrow" data-item-id="{{item._id}}"><div
                  class="item-name flex-2"
                ><img src="{{item.img}}" width="24" height="24" /><h4
                  >{{item.name}}</h4></div><div
                  class="item-data"
                >{{item.system.damage}}</div><div class="item-controls"><a
                    class="item-control item-edit"
                    title="Editar Arma"
                  ><i class="fas fa-edit"></i></a><a
                    class="item-control item-delete"
                    title="Deletar Arma"
                  ><i class="fas fa-trash"></i></a></div></li>
            {{/each}}
          </ol>
        </div>
        <div class="tab" data-group="secondary" data-tab="armaduras">
          <ol class="items-list">
            <li class="item flexrow items-header"><div
                class="item-name flex-2"
              >Armadura</div><div class="item-data">IP</div><div
                class="item-controls"
              ><a
                  class="item-control item-create"
                  title="Adicionar Armadura"
                  data-type="armadura"
                ><i class="fas fa-plus"></i> Adicionar</a></div></li>
            {{#each system.armaduras as |item id|}}
              <li class="item flexrow" data-item-id="{{item._id}}"><div
                  class="item-name flex-2"
                >{{item.name}}</div><div
                  class="item-data"
                >{{item.system.ip.cinetico}}</div><div class="item-controls"><a
                    class="item-control item-edit"
                    title="Editar Armadura"
                  ><i class="fas fa-edit"></i></a><a
                    class="item-control item-delete"
                    title="Deletar Armadura"
                  ><i class="fas fa-trash"></i></a></div></li>
            {{/each}}
          </ol>
        </div>
        <div class="tab" data-group="secondary" data-tab="outros">
          <ol class="items-list">
            <li class="item flexrow items-header"><div
                class="item-name flex-2"
              >Item</div><div class="item-data">Qtd.</div><div
                class="item-controls"
              ><a
                  class="item-control item-create"
                  title="Adicionar Item"
                  data-type="item"
                ><i class="fas fa-plus"></i> Adicionar</a></div></li>
            {{#each system.itens as |item id|}}
              <li class="item flexrow" data-item-id="{{item._id}}"><div
                  class="item-name flex-2"
                >{{item.name}}</div><div
                  class="item-data"
                >{{item.system.quantity}}</div><div class="item-controls"><a
                    class="item-control item-edit"
                    title="Editar Item"
                  ><i class="fas fa-edit"></i></a><a
                    class="item-control item-delete"
                    title="Deletar Item"
                  ><i class="fas fa-trash"></i></a></div></li>
            {{/each}}
          </ol>
        </div>
      </section>
    </div>

    <div class="tab" data-group="primary" data-tab="descricao">
      {{editor
        system.details.biography.value
        target="system.details.biography.value"
        button=true
        owner=owner
        editable=editable
      }}
    </div>
  </section>
</form>