<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname"><input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Nome da Arma"
        /></h1>
    </div>
  </header>
  <section class="sheet-body">
    <div class="form-group">
      <label>Tipo de Arma</label>
      <select name="system.weaponType">
        {{#select system.weaponType}}
          <option value="corporal">Corpo-a-Corpo</option>
          <option value="fogo">Arma de Fogo</option>
          <option value="arremesso">Arremesso</option>
        {{/select}}
      </select>
    </div>
    <div class="grid grid-3col">
      <div class="form-group">
        <label>Dano (ex: 1d10, 2d6+2)</label>
        <input type="text" name="system.damage" value="{{system.damage}}" />
      </div>
      <div class="form-group">
        <label>Iniciativa</label>
        <input
          type="text"
          name="system.initiative"
          value="{{system.initiative}}"
          data-dtype="Number"
        />
      </div>
      <div class="form-group">
        <label>Alcance</label>
        <input type="text" name="system.range" value="{{system.range}}" />
      </div>
    </div>
  </section>
</form>