<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname"><input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Nome da Perícia"
        /></h1>
    </div>
  </header>
  <section class="sheet-body">
    <div class="form-group">
      <label>Valor da Perícia (%)</label>
      <input
        type="text"
        name="system.value"
        value="{{system.value}}"
        data-dtype="Number"
      />
    </div>
  </section>
</form>